@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

*{
  font-family: "Rubik", sans-serif;
}

html,body, #root {
  margin: 0;
  background: $background_main;
}
button{
  outline: none;
  cursor: pointer;
}
button{
  outline: none;
  border: none;
  &:focus{
    outline: none;
    border: none;
  }
  &:active{
    outline: none;
    border: none;
  }
}

.app-wrapper{
  display: flex;
  height: 100vh;
}
.sidebar{
  background: $background_sidebar;
  .sidebar-logo{
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    img{
      margin-right: 15px;
      width: 42px;
      height: 42px;
    }
    h1{
      margin: 0;
      color: white;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
  .sidebar-menu {
    color:#A4A6B3;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        .link{
          color:#A4A6B3;
          text-decoration: none;
          cursor: pointer;
          width: 100%;
          padding: 25px 35px;
          i{
            margin-right: 10px;
          }
          &:hover{
            background: rgba(47, 128, 237, 0.2);
            border-left: 3px solid #2F80ED;
            &.link{
              color:#2F80ED;
            }
          }
        }
        .link.active{
          background: rgba(47, 128, 237, 0.2);
          border-left: 3px solid #2F80ED;
          &.link{
            color:#2F80ED;
          }
        }
      }
    }
    .sidebar-menu-main {
      border-bottom: 1px solid #A4A6B3;
    }
  }
}
.workspace{
  max-height: 100vh;
  overflow: auto;
  flex: 1;
}
.header{
  padding: 25px 35px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(130, 130, 130, 0.15);
  display: flex;
  justify-content: flex-end;
  .start-trade-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    .start-btn{
      background: #219653;
      border-radius: 5px;
      color: white;
      padding: 10px 15px;
      outline: none;
      border: none;
      i{
        margin-right: 10px;
      }
      &:focus{
        outline: none;
        border: none;
      }
      &:active{
        outline: none;
        border: none;
      }
      &:hover{
        outline: none;
        border: none;
        background: #2abd69;
      }
      &:disabled{
        background: #9FA2B4;
        cursor: default;
      }
    }
    .stop-btn{
      background: #EB5757;
      border-radius: 5px;
      color: white;
      padding: 10px 15px;
      outline: none;
      border: none;
      i{
        margin-right: 10px;
      }
      &:focus{
        outline: none;
        border: none;
      }
      &:active{
        outline: none;
        border: none;
      }
      &:hover{
        outline: none;
        border: none;
        background: #ea6767;
      }
      &:disabled{
        background: #9FA2B4;
        cursor: default;
      }
    }
  }
  .user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    p{
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #252733;
    }
    .ava{
      width: 44px;
      height: 44px;
      background: #9FA2B4;
      border-radius: 50%;
      margin-left: 15px;
    }
  }
  .balance-info{
    border-right: 2px solid #9FA2B4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    p,h1{
      padding: 0;
      margin: 0;
    }
    p{
      margin-right: 10px;
      color: #9FA2B4;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
    h1{
      color: #2F80ED;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      margin-right: 10px;
    }
  }
}

.trade-data{
  padding: 25px 35px;
}
.binance-connect{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(130, 130, 130, 0.15);
  border-radius: 8px;
  padding: 25px 35px;
  margin-bottom: 35px;
  .binance-connect-icon{
    background: linear-gradient(90deg, #ED962F 0%, #EB5757 100%);
    padding: 10px;
    color:white;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .binance-connect-text{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    .binance-api-data{
      display: flex;
      flex-direction: column;
      width: 100%;
      p{
        margin: 0;
      }
      .p-bold{
        font-weight: bold;
        margin-bottom: 5px;
      }
      .p-normal{
        font-weight: normal;
      }
      .input{
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        box-sizing: border-box;
        padding:10px;
        color:#A6A9B1;
        i{
          margin-right: 5px;
        }
        input{
          width: 100%;
          border:none;
          outline: none;
          background: white;
          &:focus{
            border:none;
            outline: none;
          }
          &:active{
            border:none;
            outline: none;
          }
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active,
          {
            -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
            //-webkit-text-fill-color: #333;
          }
        }
      }
    }
  }
  .binance-connect-button{
    .binance-connect-save-settings{
      display: flex;
    }
    button{
      background: linear-gradient(90deg, #ED962F 0%, #EB5757 100%);
      border-radius: 5px;
      color: white;
      padding: 10px 15px;
      outline: none;
      border: none;
      i{
        margin-right: 10px;
      }
      &:focus{
        outline: none;
        border: none;
      }
      &:active{
        outline: none;
        border: none;
      }
      &:hover{
        outline: none;
        border: none;
        background: linear-gradient(90deg, #EB5757 0%, #ED962F 100%);
      }
      &:disabled{
        background: #9FA2B4;
        cursor: default;
      }
    }
  }
}
.binance-signals{
  margin-bottom: 32px;
  .binance-signals-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    i{
      font-size: 24px;
      line-height: 28px;
      color:#2F80ED;
    }
    h1{
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }
  }
  .binance-signals-card-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .binance-signals-card{
      width: 100%;
      padding: 10px;
    }
    .binance-signals-card-body{
      background: #FFFFFF;
      box-shadow: 0px 4px 18px rgba(130, 130, 130, 0.15);
      border-radius: 8px;
      padding: 25px 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        margin-bottom: 15px;
      }
      .binance-signals-card-currency{
        margin-bottom: 15px;
        display: flex;
        justify-content: stretch;
        align-items: center;
        flex-direction: row;
        .currency-item{
          margin-right: 10px;
          input{
            //margin-right: 10px;
          }
        }
      }
      .binance-signals-card-expiration{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //margin-bottom: 15px;
        h1{
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 43px;
          color: #363940;
        }
        p{
          margin: 0;
          padding: 0;
          margin-bottom: 5px;
        }
        .binance-signals-card-expiration-text{
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #9FA2B4;
        }
        .binance-signals-card-expiration-data{
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          color: #363940;
        }
      }
      .binance-signals-card-status{
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #00A171;
        i{
          margin-right: 10px;
        }
        button{
          background: linear-gradient(90deg, #2F80ED 0%, #2D9CDB 100%);
          border: 1px solid #2F80ED;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 10px 15px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          color: #FFFFFF;
          &:hover{
            background: linear-gradient(90deg, #2D9CDB 0%, #2F80ED 100%);
          }
        }
      }
    }
  }
}

.chart{
  display: flex;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 32px;
  .chart-data{
    flex: 1;
    display: flex;
    flex-direction: column;
    .chart-data-title{
      padding: 25px 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chart-data-title-text{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          margin-right: 15px;
          color:#2F80ED;
          font-size: 19px;
          line-height: 23px;
          letter-spacing: 0.4px;
          font-style: normal;
          font-weight: bold;
        }
        p{
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 19px;
          line-height: 23px;
          letter-spacing: 0.4px;
          color: #252733;
        }
      }
      .chart-data-title-link{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          margin: 0;
          margin-right: 10px;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.1px;
          color: #252733;
          cursor: pointer;
          &.active{
            color:#2F80ED;
            text-decoration: underline;
            cursor: default;
          }
          &:not(.active):hover{
            color:#2F80ED;
          }
        }
      }
    }
    .chart-data-body{
      width: 100%;
      height: 100%;
      //padding: 25px 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      .chart-canvas{
        padding: 25px 35px;
      }
    }
  }
  .chart-analyze{
    border-left: 1px solid #DFE0EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .chart-analyze-card{
      padding: 10px 100px;
      border-bottom: 1px solid #DFE0EB;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      p,h1{
        margin: 0;
      }
      p{
        margin-bottom: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #9FA2B4;
      }
      h1{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #252733;
      }
      .negative{
        color: #EB5757;
      }
      .positive{
        color: #219653;
      }
    }
    .chart-analyze-card:last-child{
      border-bottom: none;
    }
  }
}

.open-trades{
  display: flex;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 32px;
  padding:25px 35px;
  flex-direction: column;
  .open-trades-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    i{
      margin-right: 15px;
      color:#2F80ED;
      font-size: 19px;
      line-height: 23px;
      letter-spacing: 0.4px;
      font-style: normal;
      font-weight: bold;
    }
    p{
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      letter-spacing: 0.4px;
      color: #252733;
    }
  }
  .open-trades-table{
    table{
      width: 100%;
      text-align: left;
      background: white;
      border-spacing: 0px;
      border-collapse: collapse;
      border-bottom: 1px solid #42518b;//border-bottom: 3px solid #222958;
      thead{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #9FA2B4;
        th {
          padding:15px 0px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #9FA2B4;
        }
      }
      tbody{
        color:white;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        tr{
          border-bottom: 1px solid #DFE0EB;
          td{
            padding:10px 0px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #252733;
            span.buy-color{
              color:#219653;
            }
            span.sell-color{
              color:#EB5757;
            }
          }
        }
        //tr.odd {
        //  background: #242e63;
        //}
        //tr.even {
        //  background: #2b366e;
        //}
      }
    }
  }
}
.history-trades{
  display: flex;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 32px;
  padding:25px 35px;
  flex-direction: column;
  .history-trades-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    i{
      margin-right: 15px;
      color:#2F80ED;
      font-size: 19px;
      line-height: 23px;
      letter-spacing: 0.4px;
      font-style: normal;
      font-weight: bold;
    }
    p{
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      letter-spacing: 0.4px;
      color: #252733;
    }
  }
  .history-trades-table{
    table{
      width: 100%;
      text-align: left;
      background: white;
      border-spacing: 0px;
      border-collapse: collapse;
      border-bottom: 1px solid #42518b;//border-bottom: 3px solid #222958;
      thead{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #9FA2B4;
        th {
          padding:15px 0px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #9FA2B4;
        }
      }
      tbody{
        color:white;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        tr{
          border-bottom: 1px solid #DFE0EB;
          td{
            padding:10px 0px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #252733;
            span.buy-color{
              color:#219653;
            }
            span.sell-color{
              color:#EB5757;
            }
          }
        }
        //tr.odd {
        //  background: #242e63;
        //}
        //tr.even {
        //  background: #2b366e;
        //}
      }
    }
  }
}

.history-trades-wrap{
  padding: 25px 35px;
}

.instructions-wrap{
  padding: 25px 35px;
  .instructions-body{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(130, 130, 130, 0.15);
    border-radius: 8px;
    min-height: 82vh;
    .instructions-title{
      padding: 25px 35px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i{
        margin-right: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: #2F80ED;
      }
      p{
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: #252733;
      }
    }
    .instructions-content{
      padding: 25px 35px;
    }
  }
}
.description-wrap{
  padding: 25px 35px;
  .description-body{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(130, 130, 130, 0.15);
    border-radius: 8px;
    min-height: 82vh;
    .description-title{
      padding: 25px 35px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i{
        margin-right: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: #2F80ED;
      }
      p{
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: #252733;
      }
    }
    .description-content{
      padding: 25px 35px;
    }
  }
}
.terms-wrap{
  padding: 25px 35px;
  .terms-body{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(130, 130, 130, 0.15);
    border-radius: 8px;
    min-height: 82vh;
    .terms-title{
      padding: 25px 35px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      i{
        margin-right: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: #2F80ED;
      }
      p{
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: #252733;
      }
    }
    .terms-content{
      padding: 25px 35px;
    }
  }
}

.auth-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  .login-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 343px;
    img {
      margin-bottom: 25px;
    }

    p {
      margin: 0;
      margin-bottom: 25px;
      color: #828282;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
      letter-spacing: 0.5px;
      span{
        color: #2F80ED;
        font-weight: bold;
        cursor:pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    h1{
      margin:0;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.5px;
      color: #1A1A1A;
      cursor: pointer;
      &:hover{
        color: #2F80ED;
        text-decoration: underline;
      }
    }
    h2{
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.5px;
      color: #1A1A1A;
    }

    .input{
      width: 100%;
      margin-bottom: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      box-sizing: border-box;
      padding:10px;
      color:#A6A9B1;
      i{
        margin-right: 5px;
      }
      input{
        width: 100%;
        border:none;
        outline: none;
        background: white;
        &:focus{
          border:none;
          outline: none;
        }
        &:active{
          border:none;
          outline: none;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active,
        {
          -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
          //-webkit-text-fill-color: #333;
        }
      }
    }
    .login-btn{
      background: linear-gradient(90deg, #2F80ED 0%, #2D9CDB 100%);
      box-shadow: 0px 10px 30px rgba(47, 128, 237, 0.58);
      border-radius: 5px;
      color:white;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
      padding: 15px 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        margin-right: 10px;
      }
      &:hover{
        background: linear-gradient(90deg, #2D9CDB 0%, #2F80ED 100%);
      }
      &:disabled{
        background: #9FA2B4;
        cursor: default;
      }
    }
  }
}